<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>{{title}}</h1>

    <a routerLink="/login">Login</a>|
    <a routerLink="/register">Register</a>|
    <a routerLink="/landing">Landing</a>
    <br>
    <router-outlet></router-outlet>

    <!--
    <input [(ngModel)]="login.name" placeholder="name">
    <br>
    <input [(ngModel)]="login.password" placeholder="password" type="password">
    <br>
    <button (click)="onLoginClicked()">Login</button>
    -->
</head>
<body>

</body>
</html>